<tr>
  <td style="margin: 0; padding: 0 2rem">
    <p>The Markedit Team</p>
  </td>
</tr>
<tr>
  <td style="margin: 0; padding: 0;">
    <span
      style="
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 3rem;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      "
    >
      <table style="width: 100%; max-width: 300px; border-top: 2px dotted #aaa; margin: 2rem auto"></table>

      <a href="https://markedit.net">
        <img src="https://s3.{{s3region}}.amazonaws.com/{{bucket}}/logos/markedit-logo-footer.png" />
      </a>

      <br /><br />

      <small style="color: #999">@ {{year}} - Raphael Ragoomundun</small>

      <br />

      <small style="color: #999">
        Anna-Street, Bati, 30606 Grand-Gaube, Mauritius -
        <a style="color: #999; text-decoration: none" href="https://markedit.net"> markedit.net </a>
      </small>

      <br /><br />

      <small>
        <a style="color: #999; text-decoration: none" href="https://markedit.net/terms-of-use"> Terms of Use </a>
        -
        <a style="color: #999; text-decoration: none" href="https://markedit.net/privacy-policy"> Privacy Policy </a>
        -
        <a style="color: #999; text-decoration: none" href="mailto:contact@markedit.net"> Contact </a>
      </small>

      <br /><br />

      <table style="width: 100%">
        <tr>
          <td style="width: 50%; vertical-align: middle; text-align: right; padding-right: 0.5rem">
            <a href="https://www.facebook.com/markedit">
              <img src="https://s3.{{s3region}}.amazonaws.com/{{bucket}}/logos/facebook-logo.png" />
            </a>
          </td>
          <td style="width: 50%; vertical-align: middle; text-align: left; padding-left: 0.5rem">
            <a href="https://x.com/markedit">
              <img src="https://s3.{{s3region}}.amazonaws.com/{{bucket}}/logos/twitter-logo.png" />
            </a>
          </td>
        </tr>
      </table>
    </span>
  </td>
</tr>
</table>
</html>
