<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  </head>
  <body>
    <table
      style="
        font-family: 'Arial', 'Helvetica', 'Verdana', sans-serif;
        width: 100%;
        max-width: 500px;
        margin: 2rem auto;
        border-radius: 0.3rem;
        border-collapse: collapse;
        box-shadow: 0px 0px 10px 5px #ccc;
      "
    >
      <tr>
        <td style="text-align: center; padding: 0; padding: 0">
          <span
            style="
              display: inline-block;
              width: 100%;
              border-top-left-radius: 0.3rem;
              border-top-right-radius: 0.3rem;
            "
          >
            <a
              style="display: block; text-decoration: none; margin-top: 2rem"
              href="https://markedit.net"
            >
              <img src="https://s3.{{s3region}}.amazonaws.com/{{bucket}}/logos/markedit-logo.png" />
            </a>
            
            <table style="width: 100%; max-width: 300px; border-top: 2px dotted #aaa; margin: 2rem auto"></table>
          </span>
        </td>
      </tr>


