<tr>
  <td style="margin: 0; padding: 0">
    <span style="display: inline-block; width: 100%; padding-top: 0.5rem; padding-bottom: 1rem">
      <span style="display: block; margin: auto; padding: 0 2rem">
        <p style="color: #000; text-align: center">
          <b style="color: #000">Password Forgotten</b>
        </p>

        <p style="color: #000">Hello {{name}}, we got informed that you forgot your password.</p>

        <p style="color: #000">
          To gain back access to your account you can reset your password by clicking on the link below:
        </p>

        <p>
          <a href="{{resetLink}}">Reset my password</a>
        </p>

        <p style="color: #000">Or you can copy-paste this link in your web browser:</p>

        <p style="color: #000">
          <b>{{resetLink}}</b>
        </p>
      </span>
    </span>
  </td>
</tr>
