<tr>
  <td style="margin: 0; padding: 0">
    <span style="display: inline-block; width: 100%; padding-top: 0.5rem; padding-bottom: 1rem">
      <span style="display: block; margin: auto; padding: 0 2rem">
        <p style="color: #000; text-align: center">
          <b style="color: #000">Welcome to Markedit</b>
        </p>

        <p style="color: #000">
          Hello {{name}}, to complete your registration you need to confirm your e-mail address by clicking on the link
          below:
        </p>

        <p>
          <a href="{{confirmationLink}}">Confirm my e-mail address</a>
        </p>

        <p style="color: #000">Or you can copy-paste this link in your web browser:</p>

        <p style="color: #000">
          <b>{{confirmationLink}}</b>
        </p>
      </span>
    </span>
  </td>
</tr>
